<?xml version="1.0"?>
<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/rounded_cube.stl" scale="1.20 1.20 1.20"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/rounded_cube.stl" scale="1.20 1.20 1.20"/>
      </geometry>
    </collision>
    <inertial>
      <density value="1"/>
    </inertial>
  </link>
</robot>
